/* From Uiverse.io by reshades */ 
.intro-btn {
  background-color: #ffffff00;
  color: #fff;
  height: 3em;
  border-radius: 11px;
  text-align: right;
  transition: all 0.6s ease;
  border: 1px solid white;
}

.intro-btn:hover {
  background-color: #363636;
  cursor: pointer;
}

.intro-btn svg {
  width: 1.6em;
  margin: -0.2em 0.8em 1em;
  position: absolute;
  display: flex;
  transition: all 0.6s ease;
}

.intro-btn:hover svg {
  transform: translateX(5px);
}

.text {
  margin: 0 1.5em
}